{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{#{% import "macros/_patination.html" as page_macros %}#}

{#<link rel="stylesheet" href="/static/style.css" type="text/css">#}

{% block content %}

<div class="container" align="center">
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ search_form.hidden_tag() }}
        <div class="row align-items-center">
            <div class="col">
                {{ search_form.search_box(style="font-size: 24px; width: 100%") }}
            </div>
            <div class="col col-md-auto">
                {{ search_form.search_btn(class_="btn btn-primary", style="width: 100%") }}
            </div>
        </div>
        <div align="left">
            {{ search_form.search_only_active }} {{search_form.search_only_active.label}}
        </div>
    </form>
</div>

<div style="text-align: center; margin-top: 16px">
    Найдено компаний: {{ results|length }}
</div>

<div class="container" style="margin-top: 8px; align: left">
    {% for result in results %}
        <div class="card" style="padding: 16px; margin-top: 8px">
            <h5>
                {% if result['company_status'] == 'Действует' %}
                    <span style="color:green">{{ result['company_type'] }}</span>
                {% else %}
                    <span style="color:red">{{ result['company_type'] }}</span>
                {% endif %}
                {{ result['company_name'] }}</h5>
            {{ result['desc'] }}
            <div class="row align-items-end">
                {% for contact in result['contacts'] %}
                    {% for con in contact %}
                        <div class="col-sm">
                            <h6>{{ con }}</h6>
                            {% for link in contact[con] %}
                                <div>{{ link }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}